<h1>Agregar un progreso</h1>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<div class="avatar mx-auto white">
  <img src="" [src]="urlImg" alt="mx-auto white" class="img-fluid">
  <div id="progress-element" style="display: none" class="progress">
    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progress +'%'}" aria-valuenow="{{progress}}"
      aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

<div>
  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>

  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
  </label>

</div>

<!--
<div class="md-form mb-5">
  <i class="fa fa-user prefix blue-text" aria-hidden="true" style="color:#00cc6a;"></i>
  <input type="url" id="orangeForm-grasa" [(ngModel)]="urlImg" class="form-control validate" mdbInputDirective>
  <label data-error="wrong" data-success="right" for="orangeForm-grasa">Url imagen</label>
</div>
-->

<div class="md-form mb-5">
  <i class="fa fa-calendar-o prefix blue-text"></i>
  <input type="date" id="orangeForm-date" class="form-control validate" mdbInputDirective [ngModel]="dateProgress | date:'yyyy-MM-dd'"
    (ngModelChange)="dateProgress = $event" [value]="dateProgress | date:'yyyy-MM-dd'">
  <label data-error="wrong" data-success="right" for="orangeForm-date"></label>
</div>

<div class="md-form mb-5">
  <i class="fa fa-user prefix blue-text" aria-hidden="true" style="color:#00cc6a;"></i>
  <input type="number" id="orangeForm-masa" [(ngModel)]="masaCorporal" class="form-control validate" mdbInputDirective>
  <label data-error="wrong" data-success="right" for="orangeForm-masa">Masa muscular</label>
</div>

<div class="md-form mb-5">
  <i class="fa fa-user prefix blue-text" aria-hidden="true" style="color:#00cc6a;"></i>
  <input type="number" id="orangeForm-grasa" [(ngModel)]="grasaCorporal" class="form-control validate" mdbInputDirective>
  <label data-error="wrong" data-success="right" for="orangeForm-grasa">Grasa muscular</label>
</div>

<div id="btnUser" class="modal-footer d-flex justify-content-center">
  <button mdbBtn color="deep-orange" class="waves-light" (click)="guardarDatos()" mdbWavesEffect mat-dialog-close>Guardar</button>
</div>
