<mat-toolbar id="mat-toolbar-home">
  <a routerLink="{{getRouterHome()}}" matTooltip="Inicio" class="btn-fb waves-light prefix white-text" ><i class="fa fa-home "></i>BDFGYM</a>
  <span class="example-spacer"></span>
  <div id="div-menu-full">
    <button id="button-schedule-gym" routerLink="{{getRouterSchedule()}}" mat-flat-button (click)="printOfBlack($event.currentTarget)">Horario del Gimnasio</button>
    <button id="button-schedule" routerLink="{{getRouterMySchedule()}}" mat-flat-button (click)="printOfBlack($event.currentTarget)">Mis Horarios</button>
    <button id="button-profile" mat-flat-button routerLink="{{getRouterProfile()}}" (click)="printOfBlack($event.currentTarget)">Perfil</button>
  </div>

  <button *ngIf="isScreenLow()" id="button-menu" mat-raised-button color="primary" [matMenuTriggerFor]="menu" style="background-color: black;">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="{{getRouterSchedule()}}">
      <span>Horario del Gimnasio</span>
    </button>
    <button mat-menu-item routerLink="{{getRouterMySchedule()}}">
      <span>Mis Horarios</span>
    </button>
    <button mat-menu-item routerLink="{{getRouterProfile()}}">
      <span>Perfil</span>
    </button>
  </mat-menu>

  <button id="button-exit" mat-flat-button routerLink="{{getRouterLogin()}}" (click)="printOfBlackOut($event.currentTarget)">Salir</button>

</mat-toolbar>

<router-outlet></router-outlet>
