mat-toolbar {
  background-color: #2196f3;
  color: white;
  /*position: fixed;*/
  /*z-index: 2;*/
  width: 100%;
  height: 2.5em;
}

#button-medical-history {
  margin-right: 3em;
}

button:hover {
  border: 1px solid forestgreen;
}

mat-toolbar button {
  margin-left: 1em;
  background-color: #2195f3d8;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}
