<h1></h1>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>

<div *ngIf="!loading">
  <button
    type="button"
    class="btn btn-info btn-rounded btn-md"
    (click)="openDialogAddProgress()"
  >
    Nuevo Progreso <i class="fa fa-plus " aria-hidden="true"></i>
  </button>

  <button
    type="button"
    class="btn btn-info btn-rounded btn-md"
    (click)="generatePdf()"
  >
    Generar Pdf <i class="fa fa-plus " aria-hidden="true"></i>
  </button>
  <div class="card-deck">
    <!--Card-->

    <mdb-card cascade="true" narrower="true">
      <div class="view view-cascade  gradient-card-header purple-gradient">
        <h2 class="card-header-title">Masa Corporal</h2>
        <p>Progresos</p>
        <div class="text-center">
          <!--Facebook-->
          <a
            type="button"
            class="btn-floating btn-small waves-light"
            mdbWavesEffect
          >
            <i class="fa fa-facebook-f"></i>
          </a>
          <!--Twitter-->
          <a
            type="button"
            class="btn-floating btn-small waves-light"
            mdbWavesEffect
          >
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a
            type="button"
            class="btn-floating btn-small waves-light"
            mdbWavesEffect
          >
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <div style="display: block">
          <canvas
            mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasetsMasaCorporal"
            [colors]="chartColors"
            [labels]="chartLabelsFechas"
            [options]="chartOptions"
            [legend]="false"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>
    <!--/.Card-->

    <mdb-card cascade="true" narrower="true">
      <div class="view view-cascade  gradient-card-header purple-gradient">
        <h2 class="card-header-title">Grasa Corporal</h2>
        <p>Progresos</p>
        <div class="text-center">
          <!--Facebook-->
          <a
            type="button"
            class="btn-floating btn-small waves-light"
            mdbWavesEffect
          >
            <i class="fa fa-facebook-f"></i>
          </a>
          <!--Twitter-->
          <a
            type="button"
            class="btn-floating btn-small waves-light"
            mdbWavesEffect
          >
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a
            type="button"
            class="btn-floating btn-small waves-light"
            mdbWavesEffect
          >
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <div style="display: block">
          <canvas
            mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasetsGrasaCorporal"
            [labels]="chartLabelsFechas"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="false"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          >
          </canvas>
        </div>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <ngx-gallery
        [options]="galleryOptions"
        [images]="galleryImages"
      ></ngx-gallery>
    </div>
  </div>
  <!--

  <div class="justify-content-center">
    <div class="col-md-12">
      <div class="list-group">
        <p *ngFor="let item of student.historialProgresoImagen" class="list-group-item waves-light" mdbWavesEffect>
          Fecha: {{item.fechaProgresoImagen}}, Masa Corporal: {{item.masaCorporal}}, Grasa Corporal:
          {{item.grasaCorporal}}
          <button type="button" mdbBtn color="danger" (click)="eliminarProgeso(item.id)" mdbWavesEffect>Borrar</button>
        </p>
      </div>
    </div>
  </div>
  -->
  <hr />
</div>
