<form>
  <mat-label id="label-login">Iniciar Sesión</mat-label>
  <br>
  <mat-form-field id="mat-form-name-user">
    <input matInput value="srfeudal" placeholder="Nombre de Usuario" id="userName" required>
  </mat-form-field>
  <br>
  <mat-form-field id="mat-form-password">
    <input matInput value="cesar" type="password" placeholder="Constraseña" id="password" required>
  </mat-form-field>
  <br>
  <button id="button-login" mat-flat-button (click)="loginUser()" mat-dialog-close>Ingresar</button>
</form>
