<!--<form>-->
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

  <mat-label id="label-login">Iniciar Sesión</mat-label>
  <br>
  <mat-form-field id="mat-form-name-user">
    <input matInput placeholder="Nombre de Usuario" id="userName" required #inputUserName>
  </mat-form-field>
  <br>
  <mat-form-field id="mat-form-password">
    <input matInput type="password" placeholder="Constraseña" id="password" required #inputPassword>
  </mat-form-field>
  <div class="alert alert-danger" role="alert" *ngIf="activateAlertInsertData">
    <p style="text-align: justify">Debe diligenciar los campos <br>nombre de usuario y contraseña</p>
  </div>
  <br>
  <button id="button-login" mat-flat-button (click)="loginUser()">Ingresar</button>
  <!--mat-dialog-close-->
<!--</form>-->
