.center-div {
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
}

.center-div mat-select {
  max-width: 200px;
  margin-left: 50px;
}

.preguntas {
  width: 40%;
  display: inline-flex;
  margin-left: 69px;
}

.opciones {
  margin-top: 20px;
  text-align: center;
}
.text-center{
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
}
