<h1>Cambiar contraseña</h1>
<div class="md-form mb-5">
  <i class="fa fa-key prefix blue-text" aria-hidden="true" style="color:#00cc6a;"></i>
  <label data-error="wrong" data-success="right" for="orangeForm-actual">Actual</label>
  <input type="password" id="orangeForm-actual" [(ngModel)]="actualPass" class="form-control validate"
    mdbInputDirective>
</div>
<div class="md-form mb-5">
  <i class="fa fa-key prefix blue-text" aria-hidden="true" style="color:#00cc6a;"></i>
  <input type="password" id="orangeForm-new" [(ngModel)]="newPass" class="form-control validate" mdbInputDirective>
  <label data-error="wrong" data-success="right" for="orangeForm-new">Nueva</label>

</div>

<div id="btnPerson" class="modal-footer d-flex justify-content-center">
  <button mdbBtn color="deep-orange" class="waves-light" (click)="updatePass()" mdbWavesEffect mat-dialog-close>Guardar</button>
  <button mdbBtn color="light" class="waves-light" (click)="closeDialogEditPass()" mdbWavesEffect mat-dialog-close>Cancelar</button>
</div>
