<!--Card group -->
<div class="card-group">

  <!-- Card -->
  <div class="card mb-4" >
   <!-- Card image -->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-12 col-md-12 mb-4">
            <div class="text-center">
                <div class="card testimonial-card">
                  <!--Background color-->
                  <div class="card-up blue lighten-2">
                  </div>
                  <!--Avatar-->
                  <div class="avatar mx-auto white">
                    <img class="img-perfil rounded-circle img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="avatar mx-auto white">
                  </div>

                </div>
          </div>
                </div>
          </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title">Card title</h4>
      <!-- Text -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary btn-md"(click)= "openDialogShowMedicalHistory(null)">Read more</button>

    </div>
    <!-- Card content -->

  </div>
  <!-- Card -->

</div>
<!-- Card group-->