
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5" *ngIf="!loading">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Alumnos</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5"><i class="fa fa-quote-left "></i>En esta seccion puedes observar el listado de alumnos 
      por cada horario dependiendo de una clase en la cual dictas<i class="fa fa-quote-right "></i></p>
    <button type="button" class="btn btn-outline-info waves-effect px-13"><i class="fa fa-address-card"></i>generar listado</button>
    <br>
    <!--Grid row-->
    <div class="row text-center" >
  
      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5" *ngFor="let student of assistance; let i = index">
  
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto" style="width: 200px;height: 200px;">
            <img src="{{student.urlImagenUsuario}}" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">{{student.nombreAlumno}}</h4>
          <h6 class="font-weight-bold blue-text my-3">{{student.emailAlumno}}</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fa fa-phone"></i>{{student.telefonoAlumno}}</p>
          <!--Review-->
          <div class="orange-text">
            <button mdbBtn type="button" color="cyan" size="sm" (click)="openDialogShowMedicalHistory(student.historialMedico)" mdbWavesEffect>historial medico</button>

          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
  
    </div>
    <!--Grid row-->
  
  </section>
  <!-- Section: Testimonials v.3 -->