
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<section class="section text-center" *ngIf="!loading">

<!-- Editable table -->
<div class="card" >
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">HORARIO ENTRENADOR</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
            aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Nombre clase</th>
          <th class="text-center">horaInicio</th>
          <th class="text-center">horaFin</th>
          <th class="text-center">dia</th>
          <th class="text-center">fecha</th>
          <th class="text-center">Alumnos</th>
        </tr>
        <tr *ngFor="let item of scheludes">
            <td class="pt-3-half">{{item[4] }}</td>
            <td class="pt-3-half">{{utilities.getHourDisplayFromDate(item[1])}}</td>
            <td class="pt-3-half" >{{utilities.getHourDisplayFromDate(item[2])}}</td>
            <td class="pt-3-half" >{{utilities.splitDate(item[1])}}</td>
            <td class="pt-3-half" >{{utilities.getDateWithOutHourFromFormatDate(item[1])}}</td>
            <td>
              <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm " (click)="showStudents(item[0])">Alumnos</button></span>
            </td>
          
          </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

</section>