<div class="container">
  <div class="usuario">
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <div class="info">
      <p class="nombre">Nombre: Juan Diego Molina</p>
      <p class="user">Usuario: juandiegost</p>
      <p class="suscripcion">Suscripción actual: Guardapex</p>
      <p class="estado">Estado de suscripción: <span class="porTerminar">vence el 24 de enero del 2019</span></p>
    </div>

  </div>
  <div class="controles">
    <a mat-raised-button color="primary" href="#/student/datos-personales">
      Datos Personales
    </a>
    <a mat-raised-button color="secundary" href="#/student/medicalHistory" >
      Historial Medico
    </a>
  </div>
</div>

<div class="historial-pagos">
  <h3>Historial de Suscripciones</h3>
  <div class="suscripciones">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Guardapex
          </mat-panel-title>
          <mat-panel-description>
            24 de enero de 2019
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="fechaRegistro">Fecha Inicio: 25 de diciembre de 2018</p>
        <p class="fechaVencimiento">Fecha Final: 25 de enero de 2019</p>
        <p class="Costo">$ 500.000</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Entrenamiento General
          </mat-panel-title>
          <mat-panel-description>
            24 de enero de 2019
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="fechaRegistro">Fecha Inicio: 20 de nobiembre de 2019</p>
        <p class="fechaVencimiento">Fecha Final: 05 de diciembre de 2018</p>
        <p class="sesiones">Sesiones compradas: 5</p>
        <p class="Costo">$ 50.000</p>
      </mat-expansion-panel>
    </mat-accordion>


  </div>
</div>
