<div class="container-datos-alumno">
  <div class="primero">

    <p>
      <mat-form-field hintLabel="">
        <input id="dni" matInput #input placeholder="Numero de identificación">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field hintLabel="">
        <input id="nombre" matInput #input placeholder="Nombres">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field hintLabel="">
        <input id="telefono" matInput #input placeholder="Numero de teléfono">
      </mat-form-field>
    </p>

  </div>

  <div class="segundo">

    <p>

      <mat-form-field hintLabel="">
        <input id="usuaio" matInput #input placeholder="Usuario">
      </mat-form-field>

    </p>

    <p>
      <mat-form-field hintLabel="">
        <input id="email" matInput #input placeholder="Correo electronico">
      </mat-form-field>

    </p>

    <mat-radio-group>
      <mat-radio-button value="M">Masculino</mat-radio-button>
      <mat-radio-button value="F">Femenino</mat-radio-button>
    </mat-radio-group>

    <p>

      <mat-form-field>
        <input matInput [matDatepicker]="dp3" placeholder="Fecha de nacimiento" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>

    </p>
  </div>
</div>

<div class="controles">
  <a mat-raised-button color="secundary" href="#/student">
    Cancelar
  </a>

  <button (click)="guardar()" mat-raised-button color="primary">
    Guardar Cambios
  </button>

</div>
